<h1>Editing database1</h1>

<%= render "form", database1: @database1 %>

<br>

<div>
  <%= link_to "Show this database1", @database1 %> |
  <%= link_to "Back to database1s", database1s_path %>
</div>
